.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  gap: 10px;
  padding: 5px 15px;
  font-weight: bold;
}
.not-active {
  color: black;
}
.active {
  color: beige;
}
