.navbar {
  background-color: rgba(50, 50, 50, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  gap: 20px;
  color: aliceblue;
  z-index: 4;
  animation: alternate 0.3s fade;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show-hide {
  display: flex;
}
.menu {
  z-index: 10;
  color: beige;
  position: absolute;
  font-weight: bold;
  cursor: pointer;
  right: 15px;
  width: 30px;
  height: 30px;
}
.menu img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media (min-width: 1400px) {
  .menu {
    display: none;
  }
  .navbar {
    background-color: transparent;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-weight: bold;
    padding: 10px 0;
    animation: none;
  }
  .not-active {
    color: black;
    padding: 4px 8px;
  }
  .active {
    color: beige;
    /* background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;  */
    padding: 4px 8px;
  }
}
